<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="socialBar">
  <ul class="socialIcons">
    <li><a href="#" class="socialIcon circle fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.facebook.com/" rel="me" target="_blank" class="socialIcon circle fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="socialIcon circle fa-instagram"><span class="label">Google+</span></a></li>
  </ul>
</div>

<h1>Pages#main</h1>
<p>Find me in app/views/pages/main.html.erb</p>

<div class="row">
  <div class="col-md-4 text-center">
    <div class="oneThirdSocialIcon socialIcon fa-twitter">
    </div>
    <div class="container-fluid">
      <h4>Twitter</h4>
      <h2>A hole bunch of text will go here</h2>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="oneThirdSocialIcon socialIcon fa-instagram">
    </div>
    <div class="container-fluid">
      <h4>Instagram</h4>
      <h2>A hole bunch of text will go here</h2>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="oneThirdSocialIcon socialIcon fa-facebook">
    </div>

    <div class="container-fluid">
      <h4>Facebook</h4>
      <h2>A hole bunch of text will go here</h2>
    </div>
  </div>
</div>


