/*@font-face {
font-family:fontawesome-webfont;
src:url(//assets.juicer.io/fontawesome-webfont-c8b1e28694db58f3c9d6381b41c0ef73.eot?#iefix) format(embedded-opentype),url(//assets.juicer.io/fontawesome-webfont-652719e10736420c7a054a23bcdcab47.woff) format(woff),url(//assets.juicer.io/fontawesome-webfont-313d121248ecee34b2f2872bbdb72b10.ttf) format(truetype),url(//assets.juicer.io/fontawesome-webfont-143fda015d5aab6572b92641c9813004.svg#fontawesome-webfont) format(svg);
font-weight:400;
font-style:normal;
}*/

.juicer-feed {
zoom:1;
-moz-transition:opacity .2s ease-in-out;
-o-transition:opacity .2s ease-in-out;
-webkit-transition:opacity .2s ease-in-out;
transition:opacity .2s ease-in-out;
-webkit-font-smoothing:antialiased;
text-shadow:1px 1px 1px rgba(0,0,0,0.004);
line-height:1.5;
letter-spacing:-.04em;
font-family:Lato, sans-serif;
font-size:1em;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
width:100%;
visibility:hidden;
opacity:0;
position:relative;
overflow-y:auto;
margin:0;
padding:0;
}

.juicer-feed:after {
content:"";
display:table;
clear:both;
}

.juicer-feed * {
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}

.juicer-feed .loading {
margin:50px auto;
}

.juicer-feed a {
text-decoration:none !important;
border-bottom:none !important;
}

.juicer-feed h1.referral {
font-family:Lato, sans-serif;
font-size:18px;
text-align:center;
font-weight:500;
margin:0 auto 15px;
}

.juicer-feed h1.referral a {
-moz-transition:color .2s ease-in-out;
-o-transition:color .2s ease-in-out;
-webkit-transition:color .2s ease-in-out;
transition:color .2s ease-in-out;
color:#3A3A3A;
}

.juicer-feed.white li.feed-item,.juicer-feed.widget li.feed-item,.juicer-feed.colors li.feed-item {
background:#FFF;
color:#3A3A3A;
margin-bottom:5%;
border:0;
padding:0px 10px 0px 10px;
}

.juicer-feed.white li.feed-item.juicer,.juicer-feed.widget li.feed-item.juicer,.juicer-feed.colors li.feed-item.juicer {
background:#F17E6F;
color:#FFF;
}

.juicer-feed.white li.feed-item.juicer a,.juicer-feed.widget li.feed-item.juicer a,.juicer-feed.colors li.feed-item.juicer a {
color:#3A3A3A;
font-weight:700;
}

.juicer-feed.white li.feed-item .text,.juicer-feed.widget li.feed-item .text,.juicer-feed.colors li.feed-item .text {
word-break:break-word;
}

.juicer-feed.white img,.juicer-feed.white .video-wrapper,.juicer-feed.white .vine-wrapper,.juicer-feed.widget img,.juicer-feed.widget .video-wrapper,.juicer-feed.widget .vine-wrapper,.juicer-feed.colors img,.juicer-feed.colors .video-wrapper,.juicer-feed.colors .vine-wrapper {
width:100%;
margin-bottom:10px;
}

.juicer-feed.white .j-meta ul,.juicer-feed.widget .j-meta ul,.juicer-feed.colors .j-meta ul {
margin:0;
padding:0;
}

.juicer-feed.widget {
overflow:visible;
max-height:100% !important;
}

.juicer-feed.widget .flip-container {
-moz-perspective:1000;
-webkit-perspective:1000;
perspective:1000;
}

.juicer-feed.widget .flipper {
transition:.6s;
transform-style:preserve-3d;
position:relative;
}

.juicer-feed.widget .front,.juicer-feed.widget .back {
backface-visibility:hidden;
position:absolute;
top:0;
left:0;
}

.juicer-feed.widget .front {
z-index:2;
transform:rotateY(0deg);
}

.juicer-feed.colors .j-meta a.social.facebook {
color:#3B5998;
}

.juicer-feed.colors .j-meta a.social.instagram {
color:#3F729B;
}

.juicer-feed.colors .j-meta a.social.twitter {
color:#4f3c30;
}

.juicer-feed.colors .j-meta a.social.youtube {
color:#CC181E;
}

.juicer-feed.colors .j-meta a.social.tumblr {
color:#375471;
}

.juicer-feed.colors .j-meta a.social.googleplus {
color:#DD4B39;
}

.juicer-feed.colors .j-meta a.social.pinterest {
color:#CB2028;
}

.juicer-feed.colors .j-meta a.social.blog {
color:#F60;
}

.juicer-feed.colors .j-meta a.social.vine {
color:#00BF8F;
}

.juicer-feed.colors .j-meta a.social.soundcloud {
color:#f30;
}

.juicer-feed.colors .j-meta a.social.linkedin {
color:#007bb6;
}

.juicer-feed.colors .j-meta a.social.flickr {
color:#ff0084;
}

.juicer-feed.image-grid .text {
-moz-transition:opacity .2s ease-in-out;
-o-transition:opacity .2s ease-in-out;
-webkit-transition:opacity .2s ease-in-out;
transition:opacity .2s ease-in-out;
opacity:0;
visibility:hidden;
color:#bababa;
background:rgba(58,58,58,0.7);
text-align:center;
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
z-index:2;
overflow:hidden;
padding:5%;
}

.juicer-feed.image-grid .text .message {
display:inline-block;
vertical-align:middle;
}

.juicer-feed.image-grid .text .message p:last-of-type {
margin:0;
}

.juicer-feed.image-grid .j-meta {
position:absolute;
bottom:0;
width:100%;
text-align:left;
margin:25px -5% 0;
padding:5px 7px;
}

.juicer-feed.classic li.feed-item {
background:#FFF;
margin-bottom:2%;
min-height:100px;
overflow:hidden;
}

.juicer-feed.classic li.feed-item img,.juicer-feed.classic li.feed-item .j-meta {
position:absolute;
top:0;
width:100px;
}

.juicer-feed.classic li.feed-item .j-meta {
left:0;
height:100%;
text-align:center;
margin:0;
padding:30px 0 0;
}

.juicer-feed.classic li.feed-item .j-meta a {
color:#FFF;
}

.juicer-feed.classic li.feed-item .j-meta nav {
float:none;
display:block;
font-size:1.5em;
}

.juicer-feed.classic li.feed-item .j-meta ul {
font-size:.75em;
}

.juicer-feed.classic li.feed-item .j-meta li {
margin:0 10px 10px 0;
}

.juicer-feed.classic li.feed-item img {
right:0;
}

.juicer-feed.classic li.feed-item .text {
font-family:Georgia, Georgia, serif;
font-size:1.25em;
min-height:100px;
margin:0 100px;
padding:10px 25px;
}

.juicer-feed.classic li.feed-item .message {
height:80px;
display:table-cell;
vertical-align:middle;
}

.juicer-feed.classic li.feed-item .info {
font-size:.85rem;
color:#878787;
}

.juicer-feed.classic li.feed-item .info a {
color:#878787;
border-bottom:1px solid;
}

.juicer-feed li.feed-item {
display:inline-block;
vertical-align:top;
position:relative;
width:100%;
text-align:left;
}

.juicer-feed li.feed-item.video a.image {
position:relative;
display:block;
}

.juicer-feed li.feed-item.video a.image:before {
font-family:fontawesome-webfont, Helvetica, Arial, sans-serif;
font-size:1.5rem;
content:'\f04b';
color:#FFF;
position:absolute;
left:10px;
top:4px;
z-index:3;
}

.juicer-feed li.feed-item .video-wrapper,.juicer-feed li.feed-item .vine-wrapper {
position:relative;
}

.juicer-feed li.feed-item .video-wrapper iframe,.juicer-feed li.feed-item .vine-wrapper iframe {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

.juicer-feed li.feed-item .video-wrapper {
padding-bottom:56.25%;
}

.juicer-feed li.feed-item .vine-wrapper {
padding-bottom:100%;
}

.juicer-feed .delete {
vertical-align:middle;
visibility:hidden;
opacity:0;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
text-align:center;
color:#FFF;
background:rgba(241,126,111,0.7);
font-weight:700;
cursor:pointer;
z-index:4;
}

.juicer-feed .delete a:hover {
color:#3A3A3A;
text-decoration:underline;
}

.juicer-feed .j-meta {
margin-top:25px;
}

.juicer-feed .j-meta a {
color:#bababa;
background:transparent;
}

.juicer-feed .j-meta ul {
display:inline-block;
}

.juicer-feed .j-meta li {
display:inline-block;
margin-right:10px;
}

.juicer-feed .j-meta li:last-of-type {
margin-right:0;
}

.juicer-feed .j-meta nav {
display:inline-block;
float:right;
}

.juicer-feed .j-meta a.social {
font-size:1.5em;
line-height:1;
}

.juicer-feed .j-meta a:before {
font-family:fontawesome-webfont, Helvetica, Arial, sans-serif;
font-size:1em;
margin-right:5px;
}

.juicer-feed .j-meta a.comments:before {
content:'\f086';
}

.juicer-feed .j-meta a.likes:before {
content:'\f164';
}

.juicer-feed .j-meta a.retweets:before {
content:'\f079';
}

.juicer-feed .j-meta a.repins:before {
content:'\f08d';
}

.juicer-feed .j-meta a.views:before {
content:'\f06e';
}

.juicer-feed .j-meta a.heart:before {
content:'\f004';
}

.juicer-feed .empty {
text-align:center;
padding:250px 0;
}

.juicer-feed .empty h2 {
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:1.5rem;
font-weight:700;
}

.juicer-feed .facebook {
background:#3B5998;
}

.juicer-feed .facebook:before {
content:"";
}

.juicer-feed .twitter {
color:#000000 !important;
background:#A38C7E !important;
}

.juicer-feed .twitter a { color:#4f3c30; }

.juicer-feed .twitter:before {
content:"";
}

.juicer-feed .instagram {
background:#F0EDE9;
padding-top:10px !important;
}

.juicer-feed .instagram:before {
content:"";
}

.juicer-feed .youtube {
background:#CC181E;
}

.juicer-feed .youtube:before {
content:"";
}

.juicer-feed .tumblr {
background:#375471;
}

.juicer-feed .tumblr:before {
content:"";
}

.juicer-feed .googleplus {
background:#DD4B39;
}

.juicer-feed .googleplus:before {
content:"";
}

.juicer-feed .pinterest {
background:#CB2028;
}

.juicer-feed .pinterest:before {
content:"";
}

.juicer-feed .blog {
background:#F60;
}

.juicer-feed .blog:before {
content:"";
}

.juicer-feed .vine {
background:#00BF8F;
}

.juicer-feed .vine:before {
content:"";
}

.juicer-feed .soundcloud {
background:#f30;
}

.juicer-feed .soundcloud:before {
content:"";
position:relative;
left:-4px;
}

.juicer-feed .linkedin {
background:#007bb6;
}

.juicer-feed .linkedin:before {
content:"";
}

.juicer-feed .flickr {
background:#ff0084;
}

.juicer-feed .flickr:before {
content:"";
}

.juicer-feed .juicer {
background:#F17E6F;
}

.juicer-feed .juicer:before {
content:url(//assets.juicer.io/small-square-489514de1774a4df0456fe88160cb1fa.png);
}

.juicer-feed.loaded,.juicer-feed.image-grid li.feed-item:hover .text,.juicer-feed li.feed-item:hover .delete {
visibility:visible;
opacity:1;
}

.juicer-feed h1.referral a:hover,.juicer-feed.image-grid .text .message a,.juicer-feed.classic li.feed-item .message a,.juicer-feed.classic li.feed-item .info a:hover,.juicer-feed .j-meta a:hover,.juicer-feed .empty a {
color:#F17E6F;
}

.juicer-feed.photos-only li.words,.juicer-feed .j-meta a span {
display:none;
}

.juicer-feed.widget .flip-container.flip .flipper,.juicer-feed.widget .back {
transform:rotateY(180deg);
}

.juicer-feed.image-grid .text:before,.juicer-feed .delete:before {
content:'';
display:inline-block;
height:100%;
vertical-align:middle;
}

.juicer-feed.image-grid .text .message p,.juicer-feed.classic li.feed-item .j-meta li:last-of-type {
margin:0 0 10px;
}

.juicer-feed.classic li.feed-item .j-meta:before,.juicer-feed li.feed-item:before {
content:'';
}

/* hacks/fixes for cumbrae's */
.j-meta { display:none !important; }
/*.galcolumn:first-child { padding-left:0 !important; }*/